Package: com.shade.ouria
Name: Ouria
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Elegant Music Player on LockScreen
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
